html {
  font-family: "Inter", sans-serif;
  height: 2000px;
  background-color: #f8fafc;
  color: #0f172a;
}

.main-container {
  margin: auto;
  max-width: 950px;
}

/* NAV SIDE BAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #0f172a;
}

nav a {
  text-decoration: none;
  color: #e2e8f0;
}

nav a.active {
  text-decoration: none;
  color: #22c55e;
}

nav h3 {
  color: #16a34a;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-icon {
  margin-right: 7px;
  width: 30px;
  height: 30px;
  filter: invert(85%) sepia(10%) saturate(220%) hue-rotate(185deg)
    brightness(104%) contrast(95%);
  transition:
    transform 0.25s ease,
    filter 0.25s ease;
}

.nav-icon.active {
  filter: invert(45%) sepia(87%) saturate(3750%) hue-rotate(90deg)
    brightness(92%) contrast(92%);
}

.nav-item {
  margin: 10px 0;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #22c55e65;
}

.nav-item:hover .nav-icon {
  transform: rotate(10deg);
}

/* PAGE TITLE SECTION */

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-title-desc {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 40px;
  color: #0f172a;
}

.container-title-desc h2 {
  font-size: 33px;
}

/* date input */

.container-date-input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 275px;
  height: 45px;
  margin-bottom: 50px;
}

.date-input {
  border: none;
  padding: 10px;
  font-weight: 500;
}

.date-input-button,
.color-input-button {
  border: none;
  border-radius: 50%;
  background-color: #f8fafc;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.date-input-button img {
  height: 18px;
  width: 18px;
  transition: 0.2s;
}

.date-input-button:hover {
  background-color: #22c55e;
}

.date-input-button:hover img {
  filter: invert(1) brightness(2);
}

/* ADDING NEW HABBIT SECTION */

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 25px 0;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
  margin-bottom: 60px;
}

.container-new-habbit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.h3-habbit,
.container-new-habbit {
  margin-left: 40px;
}

.add-habbit-button {
  border: none;
  border-radius: 10px;
  padding: 16.5px 20px;
  background-color: #22c55e;
  cursor: pointer;
  margin-top: 14px;
}

.input-description {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.habbit-name-input {
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 15px;
}

.habbit-frequency-input {
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 15px;
}

.container-color-peaker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  gap: 10px;
}

.habbit-color-input {
  appearance: none;
  border: none;
  width: 35px;
  height: 36px;
  cursor: pointer;
  background-color: #f8fafc;
}

.habbit-color-input::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.habbit-color-input::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.color-input-button {
  padding: 3px;
}

.color-input-button:hover {
  background-color: rgb(180, 202, 180);
}

/* CALENDAR SECTION */

.container-habbit-in-month {
  border-bottom: 1px solid rgb(133, 133, 133);
  margin-bottom: 60px;
}

.item-calendar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 20px 0;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
  margin-bottom: 60px;
}

.calendar-icon {
  width: 50px;
  height: 50px;
  margin: 0 25px;
  background-color: rgba(137, 43, 226, 0.164);
  border-radius: 25%;
  padding: 10px;
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-description h4,
.item-description p {
  margin: 0;
  margin-bottom: 10px;
}

.item-description p {
  color: rgb(112, 96, 117);
}

.calendar-day-list {
  list-style: none;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.calendar-day-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar-day-list li p {
  margin: 0;
  margin-bottom: 7px;
}

.calendar-day-type {
  color: rgb(112, 96, 117);
}

.calendar-day-type-weekend {
  color: red;
}

.input-checkbox {
  appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.input-checkbox:checked {
  background-color: #22c55e;
  border-color: #16a34a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10'%3E%3Cpath d='M1 5l3 3 7-7' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* STATS SECTION */
.container-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 5px 5px 10px lightgray;
}

.container-stats p {
  margin: 10px 0;
}

.container-stats-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.container-stats-info {
  border-left: 1px solid lightgray;
  padding-left: 40px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.container-piggy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.stats-desc p {
  font-size: 26px;
  font-weight: 600;
}

.done-icon,
.missed-icon {
  height: 27px;
  width: 27px;
}

.missed-icon {
  filter: invert(12%) sepia(96%) saturate(6591%) hue-rotate(358deg)
    brightness(95%) contrast(99%);
}

.done-icon {
  filter: invert(47%) sepia(96%) saturate(707%) hue-rotate(86deg)
    brightness(98%) contrast(98%);
}

.piggy-icon {
  width: 100px;
  height: 100px;
}
