html {
  font-family: "Inter", sans-serif;
  height: 2000px;
}

.main-container {
  margin-left: 200px;
}

/* NAV SIDE BAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  width: 200px;
  height: 100vh;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-list {
  list-style: none;
}

.nav-icon {
  width: 30px;
  height: 30px;
}
/* ADDING NEW HABBIT SECTION */

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 25px 0;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
}

.container-new-habbit {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.h3-habbit,
.container-new-habbit {
  margin-left: 40px;
}

.add-habbit-button {
  border: none;
  border-radius: 10px;
  padding: 13px;
  color: white;
  background-color: rgb(97, 32, 219);
  cursor: pointer;
}

.input-description {
  font-size: 12px;
  margin-bottom: 10px;
}

.habbit-name-input {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
}

.habbit-frequency-input {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
}

.habbit-color-input {
  border: none;
}
