/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /98

- Font weights:
Small: 400
Default: 500
Semi-bold: 600
Bold: 700


- Line heights:
Defoult: 1
Heading: 1.05
Multiple Paragraphs: 1.6


--- 02 COLORS

- Primary: 
#4f46e5

- Tints:
#726bea 
#fdfdff 
#fafafe 
#dcdafa
#ededfc
#fff

- Shades: 
#3731a0

- Accents:
#f97316
#fee3d0

- Grays: 
#666
#555
#333

--- 05 SHADOWS
box-shadow: 2px 2px 5px #e2e2e2;
--- 06 BORDER-RADIUS

- Defualt: 9px
- Icons: 18px

--- 07 WHITESPACE

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #555;
  background-color:;
}

main {
  margin-left: 19.5rem; /* NAVIGATION WIDTH */
}

label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
}

input,
select {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
  margin: 0 3.2rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.heading-primary {
  font-size: clamp(1.8rem, 3vw + 1rem, 3.6rem);
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 1.2rem;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 6000;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: clamp(1.2rem, 1vw + 1rem, 1.8rem);
  color: #333;
  margin-bottom: 2.4rem;
}

.img-box {
  height: 7rem;
  width: 7rem;
  border-radius: 18px;
  padding: 1.2rem;
}

.habit-icon {
  display: block;
  height: auto;
  max-width: 100%;
}

.btn {
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 9px;
  box-shadow: 0 0 5px #cacaca;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.paragraph-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  line-height: 1.6;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
