/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /98

- Font weights:
Defoult: 400

- Line heights:
Defoult: 1
H1: 1.05



--- 02 COLORS

- Primary: #6366F1
- Tints: #f7f8ff #eff0fe #e0e0fc
- Shades: 
- Accents:
- Grays: 
#555
#333;

--- 05 SHADOWS

--- 06 BORDER-RADIUS
- Containers: 1rem

--- 07 WHITESPACE

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 2.4rem;
}
